{% extends "bootstrap/base.html" %}
{% block title %}学科语料标注系统{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid" style="margin: 0px 30%">
    <div class="container">
        <h2 class="display-4">学科语料标注系统</h2>
	<h4 class="display-4">Online Collaborative Annotation System for Education</h4>
        <p class="lead">欢迎参加语料标注计划，感谢您对学科知识结构化的贡献！</p>
	<p class="lead"><small><em>Welcome your participation in the annotation task, and thanks for your contribution to the structuring of discipline knowledge.</em></small> </p>	
    </div>
</div>
<br>
<form method="POST" action="/" style="width:40%; margin: 0px 30%">
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-group">
        <label for="{{ form.name.id }}">用户名(username):</label>
        {{ form.name(class_='form-control') }}
        {% for error in form.name.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="{{ form.pwd.id }}">密 码(password):</label>
        {{ form.pwd(class_='form-control') }}
        {% for error in form.pwd.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>

    <input class="btn btn-primary" type="submit" value="登录(submit)">
    <input class="btn btn-primary" type="reset" value="重置(reset)">
</form>
{% include "footer.html" %}
{% endblock %}
